body {
  font-family: 'Segoe UI', Tahome, Geneva, Verdana, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #deec6a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#main-title {
  color: #fff;
}

#main-title:hover {
  background-color: #333;
}

.container {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

#filter-tools-div {
  width: 100%;
}

.filter-tool {
  width: 10rem;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #333;
  color: #deec6a;
  font-size: 1rem;
}
